:root {
  --primary-color: blue;
  --secondary-color: grey;
  --text-color: black;
  --header-height: 10%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif; /* Use Arial font for all text */
  font-size: 21px;
}

body{
  background-color: #f4f4f4; /* Add a light grey background color */
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5% 5% 0 5%;
  background-color: antiquewhite;
}

header {
    background-color: #333; /* Add a dark grey background color */
    color: #fff; /* Set the text color to white */
    position: fixed;
    width: 100%;
    height: var(--header-height);
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul{
    list-style-type: none; /* Remove the bullet points from the list */
}

nav ul * {
    background-color: #ccc;
    display: inline-flex;
    border-radius: 10%;
}

nav a {
    padding: 0 10px; /* Add padding to the left and right of each link */
    text-decoration: none; /* Remove the underline from the links */
    color: #333; /* Set the text color to a dark grey */
}

nav a:hover {
    color: #007bff; /* Change the text color to blue when hovering over a link */
}

.slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
    background-color: #333;
}

.create {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #333;
    margin-top: 3%;
}

footer {
  bottom: 0;
  width: 100%;
}
