html {
    font-family: Arial, sans-serif; /* Use Arial font for all text */
    font-size: 21px;
}
body{
    margin: 2% 10%; /* Add margin to the body */
}

nav {
    height: fit-content;
    background-color: #f4f4f4; /* Add a light grey background color */
    border-bottom: 1px solid #ccc; /* Add a grey border at the bottom */
}

nav ul{
    list-style-type: none; /* Remove the bullet points from the list */
    align-items: center;
}

nav ul * {
    background-color: #ccc;
    display: inline-flex;
    border-radius: 10%;
}


#loginform {
    
}

nav a {
    padding: 0 10px; /* Add padding to the left and right of each link */
    text-decoration: none; /* Remove the underline from the links */
    color: #333; /* Set the text color to a dark grey */
}

nav a:hover {
    color: #007bff; /* Change the text color to blue when hovering over a link */
}

main .image-grid {
    border: 1px solid #ccc; /* Add a grey border around the image grid */
    padding: 0.5rem; /* Add padding around the image grid */
    display: grid; /* Use grid layout for the image grid */
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Set the columns to be responsive */
    grid-gap: 0.5rem; /* Add a gap between the grid items */
}
.image-grid img {
    width: 100%; /* Make the images fill the grid items */
    height: auto; /* Maintain the aspect ratio of the images */
}
.image-grid img:hover {
    opacity: 0.8; /* Reduce the opacity of the images when hovering over them */
}